
{% extends "base_ui/usernavbar.html" %}
{% block start %}
{% load static %}



    <br><br><br>
    <div style="text-align: center;">
        <h1 style="text-align: center; "><u>Checkout</u></h1>
           <h3>Thanks for ordering from Electo High Store</h3> 
           <p>For any query Contact: +91 9041416238, +91 8978216882</p>
           <p>Email: Saurabh.singh@gmail.com</p>
           <p>Address: Adesh PG, Near professional courier, Othkalmandapam, Coimbatore</p>
    </div>
    
    

  </body>
</html>
{% endblock %}